<div id="searchloaderTable" style="text-align: center;"></div>
<div id="showsearch"></div>

<!-- <table id="allurl" class="display" cellspacing="0">
<thead>
<tr>
  <th>Posted By</th><th>URL</th><th>TITLE</th><th>EMAIL</th><th>PHONE</th><th>COMMENT</th><th>REMOVE</th>
</tr>
</thead>
<tbody>
<% urldata.forEach(function(urldata){%>
  <tr>
  <td><%= urldata.postedby %></td>
  <td><p class="linkindatatable"><span class="w3-tag w3-small w3-theme-l4 linkfromsearch"><a class="previewlink"><%= urldata.url %></a></span></p></td>
  <td><p contenteditable="true"><%= urldata.title %></p></td>
  <td><p contenteditable="true" class="updateEmail" data-id="<%= urldata._id %>"><%= urldata.email %></p></td>
  <td><p contenteditable="true" class="updatePhone" data-id="<%= urldata._id %>"><%= urldata.phone %></p></td>
  <td><p contenteditable="true" class="updateComment" data-id="<%= urldata._id %>"><%= urldata.comment %></p></td>
  <td><span class="removethis" data-id="<%= urldata._id %>"><i class="fa fa-remove"></i> <b style="display: none;"><%= urldata.body %></b></span></td>
  </tr>
<%}) %>
</tbody>
</table> -->